# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: Can be expressed as integers or floating point. Integers are whole numbers - either positive or negative, floating point numbers have a decimal point in them or use an exponential to define the number.

Strings: Strings in Python are a sequence, ie they have a recognised specific order. They are used to record text information. Immutable

Lists: Strings are a more general form of a sequence, but unlike strings they are mutable (elements can be changed). Lists are created with [] and commas seperating every element.

Tuples: Very similar to lists, but they are immutable so they can not be changed. Usually used to present things that shouldn't be changed ie days of the week. 

Dictionaries: Mappings between a collection of keys and their corresponding values. Each key, value pair is stored by its key, unlike a sequence which is stored by its relative position. DIctionaries themselves are mutable but their keys are immutable.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [19]:
(4E2 * 2 + 10 - 8)/8

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

Using Python 3 the result will be 0.66666 since it uses true division. Python 2 will have a result of 0 (classic division)

In [21]:
2/3

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [23]:
[44, 29, 34]

[44, 29, 34]

What is the *type* of the result of the expression 3 + 1.5 + 4?

In [24]:
type(3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

To find the square of x, you would type $(x ** 2)$
To find the root of x, you would type $(x ** 0.5)$

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [25]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using indexing:

In [26]:
s ='hello'

# Reverse the string using indexing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [27]:
s ='hello'

# Print out the

print(s[4], s[-1])

o o

## Lists

Build this list [0,0,0] two separate ways.

In [29]:
[0]*3

[0, 0, 0]

In [30]:
[0,0,0]

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [31]:
l = [1,2,[3,4,'hello']]
l[2][2] = "goodbye"
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [32]:
l = [3,4,5,5,6]
sorted(l)

[3, 4, 5, 5, 6]

In [36]:
l.sort()
l

[3, 4, 5, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [37]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [39]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [42]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [48]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

No can do - dictionaries are mapping not sequences so they have no order.

## Tuples

What is the major difference between tuples and lists?

tuples are immutable and can not be changed

How do you create a tuple?

t = (1,2,3)

## Sets

What is unique about a set?

sets do not contain duplicate elements

Use a set to find the unique values of the list below:

In [50]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [51]:
# Answer before running cell
2 > 3

False

In [52]:
# Answer before running cell
3 <= 2

False

In [53]:
# Answer before running cell
3 == 2.0

False

In [54]:
# Answer before running cell
3.0 == 3

True

In [55]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [56]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!